<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center ml-4 mr-4 pt-3 pb-2 mb-3 border-bottom">
    <h1>
        <span class="feather icon-user"></span>
        <span>Meu cadastro</span>
    </h1>
</div>
<div class="m-4">
    <form>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="nome">Nome</label>
                <input ng-model="vm.usuario.nome" id="nome" type="text" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="email">Email</label>
                <input ng-model="vm.usuario.email" id="email" type="email" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label for="nome">Nome de usuario</label>
                <input ng-model="vm.usuario.usuario" id="nome" type="text" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="senha">Senha</label>
                <input ng-model="vm.usuario.senha" id="senha" type="password" class="form-control">
            </div>
            <!--<div class="form-group col">-->
            <!--<label for="confirmarSenha">Confirmar senha</label>-->
            <!--<input ng-model="vm.confirmarSenha" id="confirmarSenha" type="password" class="form-control">-->
            <!--</div>-->
        </div>
        <div class="row">
            <button ng-click="vm.save(vm.usuario)" ng-disabled="form.$invalid" type="button" class="btn btn-success ml-3">Cadastrar
            </button>
        </div>
    </form>
</div>