<div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col-sm-8">
                <h2 class="title">{{vm.title}}</h2>
                <form>
                    <label for="produtos">Produtos</label>
                    <select class="form-control" name="selectProdutos" ng-model="vm.record.produto" class="form-control p-0">
                        <option ng-repeat="prod in vm.produto" ng-selected="false">{{prod.descricao}}</option>
                    </select>
                    <ui-input ng-model="vm.record.quantidade" type="number" label="Quantidade"></ui-input>
                    <button ng-click="vm.save()" type="button" class="btn btn-primary btn-lg">Salvar Registro</button>
                    <a ui-sref="app.estoque.list" class="btn btn-danger">Cancelar</a>
                </form>
            </div>
        </div>
    </div>