<div class="popover-content">
    <div class="row ng-scope" style="min-height: 130px; margin-top: 10px">
        <form name="vm.form" data-bf-loading="vm.tracker.frequencia" class="ng-pristine ng-invalid ng-invalid-required">
            <div class="row">
                <div class="col-md-12"><label class="required">Justificativa<span class="required-icon" title="Este campo é obrigatório">*</span></label>
                    <!-- ngIf: vm.registroJustificativa.faltas.length > 1 --> <textarea id="lbJustificativa-176801"
                        class="form-control ng-pristine ng-invalid ng-invalid-required field-error ng-touched"
                        data-ng-required="true" rows="2" data-ng-model="vm.registroJustificativa.justificativa"
                        required="required" style="">				</textarea></div>
            </div>
            <div class="row pull-right">
                <div class="col-md-12">
                    <fieldset ng-disabled="vm.tracker.remove.tracking() || vm.tracker.save.tracking()">
                        <!-- ngIf: !vm.registroJustificativa.id --><button id="btn-justificativa-save" class="btn btn-primary ng-scope"
                            data-ng-if="!vm.registroJustificativa.id" data-ng-click="vm.save()" data-ng-disabled="vm.form.$invalid || vm.tracker.save.tracking()"
                            bf-loading="vm.tracker.save" bf-permissions="main.app.servidor.justificativa-falta"
                            operation="criar" style="" disabled="disabled">Salvar</button><!-- end ngIf: !vm.registroJustificativa.id -->
                        <!-- ngIf: vm.registroJustificativa.id -->
                        <!-- ngIf: vm.registroJustificativa.id --> <button id="btn-justificativa-cancel" class="btn btn-default"
                            data-dismiss="popover" tabindex="-1">Cancelar</button></fieldset>
                </div>
            </div>
        </form>
    </div>
</div>